!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title gest.js

    //- Check out 'src/bower_components/prism/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section(data-bespoke-state='slide')
        h2 gest.js by 
          a(href="http://twitter.com/hadi_michael")
            em @hadi_michael
        hr
        p Use your arrow keys to navigate the slides

      section(data-bespoke-state='slide', data-bespoke-hash='description')
        h1 gest.js
        h3 ... is a webcam based gesture recognition library that helps developers make webpages more immersive.
 
      section(data-bespoke-state='slide', data-bespoke-hash='demo')
        h1 DEMO
        p You can use gest.js to navigate this slide deck...
        hr
        a(href="javascript:gest.start();gest.options.messages=true;") Let's go!
        a(href="javascript:gest.stop();") Okay, stop gest.

      section(data-bespoke-state='slide')
        h2 Algorithm overview
        h3.bullet
        ul
          li Capture frames at 25fps (5x compressed).
          li Use a difference map to determine pixels that have moved since the last frame.
          li Count the pixels. If enough have moved, then find their average location and track the gesture.
          li Evaluate the general direction of pixel movement.

      section(data-bespoke-state='slide', data-bespoke-hash='usage')
        h1 USAGE
            
      section(data-bespoke-state='slide')
        h2 Starting and Stopping
        hr
        code.language-javascript
          pre.
            gest.start(); //start listening for gestures
        hr
        code.language-javascript
          pre.
            gest.stop(); //stop listening for gestures

      section(data-bespoke-state='slide')
        h2 Handle Events
        h3.bullet You will need to register an event listener on the <strong>document</strong> for <strong>gest</strong> using:
        hr
        code.language-javascript
          pre.
            document.addEventListener('gest', function(gesture) {
              //handle gesture  
            }, false);   

      section(data-bespoke-state='slide')
        h2 Event Object
        h3.bullet
        ul(style='text-align: left')
          li <strong>.direction</strong> the recognised gesture in words as a string
          li <strong>.up</strong> boolean, true if the recognised gesture is up
          li <strong>.down</strong> boolean, true if the recognised gesture is down
          li <strong>.left</strong> boolean, true if the recognised gesture is left
          li <strong>.right</strong> boolean, true if the recognised gesture is right
          li <strong>.error</strong> an error object with...
          li &nbsp;&nbsp;&nbsp;&nbsp;<strong>.code</strong> a code as an int
          li &nbsp;&nbsp;&nbsp;&nbsp;<strong>.message</strong> and a message as a string

      section(data-bespoke-state='slide')
        h2 Options
        h3.bullet You can also set options using:
        hr
        code.language-javascript
          pre.
            gest.options.skinFilter = true; //set HSV skin filtering

            gest.options.messages = false; //set on screen messages

            gest.options.locking = 200; //set locking timeout

            gest.options.debug(true); //set debug mode

      section(data-bespoke-state='slide')
        h2 gest.js is on github at <a href="http://hadimichael.github.io/gest.js/" target="_blank">hadimichael.github.io/gest.js/</a>

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/bespoke-gest.js')
    script(src='scripts/main.js')
